*{
    box-sizing: border-box;
}
body{
    height: 95vh;
    background-color: hsl(30, 38%, 92%);
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
main{
    width: 100%;
}
.globale{
    max-width: 340px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
}
article{
    max-width: 100%;
    min-height: 50vh;
    padding: 0 20px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}
.image2{
    display: none;
}

img{
    max-width: 340px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
}
.space{
letter-spacing: 3px;
margin-top: 20px;
}
.grey{
    color:hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 15px;
}

.big{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2em;
    margin: 10px 0px;
}

.green{
    color: hsl(158, 36%, 37%)
}

.prix{
display: flex;
justify-content: flex-start;
gap:20px;
}
.crossed{
    text-decoration: line-through ;
}
.submit{
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    width: 300px;
    font-size: 15px;
    font-weight: 700;
    padding: 15px;
    margin: 50px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.attribution { 
    font-size: 11px; text-align: center;
    margin-top: 30px auto;
 }
.attribution a { color: hsl(228, 45%, 44%);}

.submit:hover{
    background-color:hsl(158, 45%, 17%);
    transition: 0.4s linear 0.2s;
    cursor: pointer;
}
@media screen and (min-width:1440px) {
    .globale{
        max-width: 680px;
        margin: auto;
        height: 510px;
        display: flex;
        flex-direction: row;

    }
    .image1{
        display: none;
    }
    .image2{
        display:block;
        margin: 0;
        flex: 1;
        border-radius: 10px 0 0 10px;
    }
    article{
        height: 100%;
        border-radius: 10px 10px 0 0;
    }
    
}
